<!-- Content Wrapper. Contains page content -->
<!-- /.content-wrapper -->
<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 1.1.0
  </div>
  <strong>Copyright &copy; 2024 <a href="https://www.madanidev.com" target="_blank">Madani Developer</a>.</strong> All rights
  reserved.
</footer>
</div>
<!-- ./wrapper -->